/* GENERAL */
@font-face {
  font-family: satisfactoryFont;
  src: url(./fonts/Satisfontory_v1.5.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #191919;
  color: #ECDBBA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MAIN VIEW */
.main-view {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  justify-content: space-around;
  /* padding: 10px; */
}

.main-view-item {
  margin-bottom: 2em;
}


/* DATA TREE */
/* note: the branch colour is a prop of the Tree component, so
 if you wanna change that then go to dataTree.tsx*/
.data-tree-node {
  margin-left: 10px;
  margin-right: 10px;
  border: 2px;
  border-style: solid;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tree-node-element {
  margin: auto;
}

.tree-node-modifier {
  display: flex;
  flex-direction: row;
  width: 2em;
  height: 2em;
  justify-content: center;
}

.assembler-true{
  border-color: gold;
}

.constructor-true{
  border-color: red;
}

.miner-true{
  border-color: blue;
}

.smelter-true{
  border-color: purple;
}

.foundry-true{
  border-color: black;
}

.manufacturer-true{
  border-color: green;
}


/* NAV BAR */
.title {
  text-align: center;
} 

/* .title {
  font-family: satisfactoryFont;
} */

a {
  text-decoration: none;
  color: #ECDBBA;
}

a:hover {
  color: white;
}

.nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar-item {
  padding-left: 2em;
  padding-right: 2em;
}

.active {
  text-decoration: underline;
}

/* RESOURCE TABLE */
.resource-table {
  border: 1px;
  border-style: solid;
  width: 50%;
  text-align: center;
}

thead {
  text-decoration: underline;
}

tbody tr:hover {
  background-color: #ddd;
  color: black;
}

/* ABOUT */
.keep-style {
  text-decoration: underline;
}

/* FEEDBACK */
.email-image {
  width: 20em;
}